Repository AnswerOverflow/AnswerOverflow, changes with the labels that .github/labeler.yml gives for each.
All labels: 🤖bot, 📢 command, 📖bot-ui, 🎆event, ⚡ api, 🔒auth, ⚛ component, 📚db, 📄 page, 🖥️website

.github/labeler.yml:

"🤖bot":
  - "apps/discord-bot/**"

"📢 command":
    - "apps/discord-bot/src/commands/**"
    - "apps/discord-bot/src/utils/commands/**"

"📖bot-ui":
    - "apps/discord-bot/src/components/**"
    - "apps/discord-bot/src/utils/components/**"

"🎆event":
    - "apps/discord-bot/src/listeners/**" 
    - "apps/discord-bot/src/utils/listeners/**"

"⚡ api":
  - "packages/api/**"

"🔒auth":
  - "packages/auth/**"

"⚛ component":
  - "packages/ui/src/components/**"

"📚db":
  - "packages/db/**"

"📄 page":
  - "apps/nextjs/src/pages"

"🖥️website":
  - "packages/ui/**"
  - "apps/nextjs/**"

Update README.md
  README.md
Labels: none

fix contributing to be markdown
  CONTRIBUTING.md
  README.md
Labels: none

Improve Onboarding Documentation (#135)
  CONTRIBUTING.md
  README.md
  answeroverflow.code-workspace
  assets/search-result-example.png
Labels: none

Improve Onboarding Documentation (#135)
  CONTRIBUTING.md
  README.md
  answeroverflow.code-workspace
  assets/search-result-example.png
Labels: none

tweak(ui/components): button (newcomps)
  packages/ui/src/components/newComps/Button.stories.tsx
  packages/ui/src/components/newComps/Button.tsx
Labels: ⚛ component, 🖥️website

Remove sudo commands from post dev container create
  .devcontainer/devcontainer.json
Labels: none

Remove sudo commands from post dev container create
  .devcontainer/devcontainer.json
Labels: none

Remove duplicated db generate calls from db package
  packages/db/package.json
Labels: 📚db

Remove duplicated db generate calls from db package
  packages/db/package.json
Labels: 📚db

Refactor server file
  packages/api/src/router/server/server.test.ts
  packages/api/src/router/server/server.ts
  packages/api/src/utils/permissions.ts
  packages/db/index.ts
  packages/db/src/server.ts
  packages/db/src/utils/operations.ts
Labels: ⚡ api, 📚db

tweak(ui/components): migrate button styles to new file (new comps)
  packages/ui/package.json
  packages/ui/src/components/newComps/Button.tsx
  packages/ui/src/components/newComps/ButtonStyles.ts
  yarn.lock
Labels: ⚛ component, 🖥️website

Channel router fixes
  packages/api/src/router/channel/channel.test.ts
  packages/api/src/router/channel/channel.ts
  packages/api/src/router/channel/channel_settings.ts
  packages/api/src/utils/protected-procedures.ts
  packages/api/src/utils/types.ts
  packages/db/index.ts
  packages/db/package.json
  packages/db/src/channel-settings.ts
  packages/db/src/channel.ts
  packages/db/src/zod-schemas.ts
  packages/ui/src/components/primitives/Button.tsx
  packages/utils/index.ts
  packages/utils/src/types.ts
Labels: ⚡ api, ⚛ component, 📚db, 🖥️website

tweak(ui/components): button files (new comp)
  packages/ui/src/components/newComps/Button.tsx
  packages/ui/src/components/newComps/button-styles.ts
Labels: ⚛ component, 🖥️website

Channel settings rewrite
  packages/api/src/router/channel/channel-settings.test.ts
  packages/api/src/router/channel/channel-settings.ts
  packages/api/src/router/channel/channel_settings.ts
  packages/db/src/channel-settings.ts
  packages/db/src/channel.ts
  packages/db/src/server.ts
  packages/db/src/zod-schemas.ts
Labels: ⚡ api, 📚db

Update channel.ts
  packages/db/src/channel.ts
Labels: 📚db

probably working server settings
  packages/api/src/router/server/server_settings.test.ts
  packages/api/src/router/server/server_settings.ts
  packages/db/src/server-settings.ts
  packages/db/src/zod-schemas.ts
Labels: ⚡ api, 📚db

discord account & ignored account refactor
  packages/api/src/router/user-server-settings/user-server-settings.ts
  packages/api/src/router/users/accounts/discord-account.test.ts
  packages/api/src/router/users/accounts/discord-accounts.ts
  packages/api/src/router/users/ignored-discord-accounts/ignored-discord-account.test.ts
  packages/api/src/router/users/ignored-discord-accounts/ignored-discord-account.ts
  packages/api/src/utils/permissions.ts
  packages/db/index.ts
  packages/db/src/discord-account.ts
  packages/db/src/ignored-discord-account.ts
  packages/db/src/user-server-settings.test.ts
  packages/db/src/user-server-settings.ts
  packages/db/src/zod-schemas.ts
Labels: ⚡ api, 📚db

all user server settings tests passing
  packages/api/src/router/user-server-settings/user-server-settings.test.ts
  packages/api/src/router/user-server-settings/user-server-settings.ts
  packages/db/src/user-server-settings.ts
Labels: ⚡ api, 📚db

fix(ui/lint): tailwindcss class sorting
  packages/config/eslint-config-custom/next.js
  packages/config/eslint-config-custom/prettierrc.js
  packages/ui/src/components/home/Home.tsx
Labels: ⚛ component, 🖥️website
