Repository AnswerOverflow/AnswerOverflow, changes with the labels that .github/labeler.yml gives for each.
All labels: 🤖bot, 📢 command, 📖bot-ui, 🎆event, ⚡ api, 🔒auth, ⚛ component, 📚db, 📄 page, 🖥️website

Speed up mark solution
  apps/discord-bot/src/utils/commands/mark-solution.ts
Labels: 🤖bot, 📢 command

Update mark-solution.ts
  apps/discord-bot/src/utils/commands/mark-solution.ts
Labels: 🤖bot, 📢 command

Mark Solution Context Menu Command (#121)
  apps/discord-bot/public/icons/discord-icon.png
  apps/discord-bot/src/commands/settings/channel-settings.tsx
  apps/discord-bot/src/commands/settings/consent-command.ts
  apps/discord-bot/src/commands/settings/mark-solution-command.ts
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  apps/discord-bot/src/components/channel-settings-menu.tsx
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/channel-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  apps/discord-bot/src/utils/bot.ts
  apps/discord-bot/src/utils/commands/mark-solution.test.ts
  apps/discord-bot/src/utils/commands/mark-solution.ts
  apps/discord-bot/src/utils/consent.ts
  apps/discord-bot/src/utils/constants.ts
  apps/discord-bot/src/utils/conversions.test.ts
  apps/discord-bot/src/utils/indexing.test.ts
  apps/discord-bot/test/utils/discordjs/channel-mock.ts
  apps/discord-bot/test/utils/discordjs/mock.ts
  apps/discord-bot/test/utils/discordjs/scenarios.ts
  apps/discord-bot/test/utils/helpers.ts
  packages/api/src/router/channel/channel_settings.ts
  packages/api/src/router/channel/types.ts
Labels: 🤖bot, 📢 command, 📖bot-ui, 🎆event, ⚡ api

Mark Solution Context Menu Command (#121)
  apps/discord-bot/public/icons/discord-icon.png
  apps/discord-bot/src/commands/settings/channel-settings.tsx
  apps/discord-bot/src/commands/settings/consent-command.ts
  apps/discord-bot/src/commands/settings/mark-solution-command.ts
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  apps/discord-bot/src/components/channel-settings-menu.tsx
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/channel-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  apps/discord-bot/src/utils/bot.ts
  apps/discord-bot/src/utils/commands/mark-solution.test.ts
  apps/discord-bot/src/utils/commands/mark-solution.ts
  apps/discord-bot/src/utils/consent.ts
  apps/discord-bot/src/utils/constants.ts
  apps/discord-bot/src/utils/conversions.test.ts
  apps/discord-bot/src/utils/indexing.test.ts
  apps/discord-bot/test/utils/discordjs/channel-mock.ts
  apps/discord-bot/test/utils/discordjs/mock.ts
  apps/discord-bot/test/utils/discordjs/scenarios.ts
  apps/discord-bot/test/utils/helpers.ts
  packages/api/src/router/channel/channel_settings.ts
  packages/api/src/router/channel/types.ts
Labels: 🤖bot, 📢 command, 📖bot-ui, 🎆event, ⚡ api

Working discordjs mock package refactor
  answeroverflow.code-workspace
  apps/discord-bot/package.json
  apps/discord-bot/src/listeners/events/indexing-loop.test.ts
  apps/discord-bot/src/listeners/events/indexing-loop.ts
  apps/discord-bot/src/utils/commands/mark-solution.test.ts
  apps/discord-bot/src/utils/commands/mark-solution.ts
  apps/discord-bot/src/utils/components/consent.ts
  apps/discord-bot/src/utils/listeners/indexing.test.ts
  apps/discord-bot/src/utils/listeners/indexing.ts
  apps/discord-bot/src/utils/utils.ts
  apps/discord-bot/test/utils/helpers.ts
  apps/discord-bot/test/utils/sapphire-mock.ts
  packages/discordjs-mock/.swcrc
  packages/discordjs-mock/index.ts
  packages/discordjs-mock/jest.config.ts
  packages/discordjs-mock/package.json
  packages/discordjs-mock/src/channel-mock.test.ts
  packages/discordjs-mock/src/channel-mock.ts
  packages/discordjs-mock/src/client-mock.ts
  packages/discordjs-mock/src/guild-mock.test.ts
  packages/discordjs-mock/src/guild-mock.ts
  packages/discordjs-mock/src/helpers.ts
  packages/discordjs-mock/src/interaction-mock.test.ts
  packages/discordjs-mock/src/interaction-mock.ts
  packages/discordjs-mock/src/scenarios.ts
  packages/discordjs-mock/src/user-mock.test.ts
  packages/discordjs-mock/src/user-mock.ts
  packages/discordjs-mock/tsconfig.json
  packages/discordjs-utils/.swcrc
  packages/discordjs-utils/index.ts
  packages/discordjs-utils/jest.config.ts
  packages/discordjs-utils/package.json
  packages/discordjs-utils/src/message.ts
  packages/discordjs-utils/src/snowflake.ts
  packages/discordjs-utils/tsconfig.json
  turbo.json
  yarn.lock
Labels: 🤖bot, 📢 command, 📖bot-ui, 🎆event

no tests failing!
  apps/discord-bot/package.json
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/events/indexing-loop.test.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/channel-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  apps/discord-bot/src/utils/commands/mark-solution.test.ts
  apps/discord-bot/src/utils/conversions.test.ts
  apps/discord-bot/src/utils/listeners/indexing.test.ts
  apps/discord-bot/src/utils/listeners/indexing.ts
  apps/discord-bot/src/utils/utils.ts
  apps/discord-bot/test/utils/reacord/reacord-utils.tsx
  apps/discord-bot/test/utils/sapphire-mock.ts
  apps/discord-bot/tsup.config.ts
  packages/discordjs-mock/src/channel-mock.test.ts
  packages/discordjs-mock/src/scenarios.ts
Labels: 🤖bot, 📢 command, 📖bot-ui, 🎆event

Add tests to utils file
  packages/discordjs-utils/src/snowflake.test.ts
Labels: none

Update channel-mock.test.ts
  packages/discordjs-mock/src/channel-mock.test.ts
Labels: none

Rename everything in utils to domains
  apps/discord-bot/jest.config.ts
  apps/discord-bot/src/commands/settings/mark-solution-command.ts
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  apps/discord-bot/src/domains/commands/mark-solution.test.ts
  apps/discord-bot/src/domains/commands/mark-solution.ts
  apps/discord-bot/src/domains/components/consent.ts
  apps/discord-bot/src/domains/listeners/indexing.test.ts
  apps/discord-bot/src/domains/listeners/indexing.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.ts
  apps/discord-bot/src/listeners/events/indexing-loop.test.ts
  apps/discord-bot/src/listeners/events/indexing-loop.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/channel-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  apps/discord-bot/src/utils/conversions.test.ts
  apps/discord-bot/test/helpers.ts
  apps/discord-bot/test/reacord-utils.tsx
  apps/discord-bot/test/sapphire-mock.ts
  apps/discord-bot/tsconfig.json
  packages/config/tsconfig/base.json
Labels: 🤖bot, 📢 command, 📖bot-ui, 🎆event

Make domains not split into commands / listeners
  apps/discord-bot/README.md
  apps/discord-bot/src/commands/settings/mark-solution-command.ts
  apps/discord-bot/src/domains/consent.ts
  apps/discord-bot/src/domains/indexing.test.ts
  apps/discord-bot/src/domains/indexing.ts
  apps/discord-bot/src/domains/mark-solution.test.ts
  apps/discord-bot/src/domains/mark-solution.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.ts
  apps/discord-bot/src/listeners/events/indexing-loop.test.ts
  apps/discord-bot/src/listeners/events/indexing-loop.ts
Labels: 🤖bot, 📢 command, 🎆event

Remove wiping the database from discord bot tests - tests speed up from 30s to 5.9s
  apps/discord-bot/package.json
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  apps/discord-bot/src/domains/indexing.test.ts
  apps/discord-bot/src/domains/mark-solution.test.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/channel-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  apps/discord-bot/src/utils/conversions.test.ts
Labels: 🤖bot, 📖bot-ui, 🎆event

all tests passing
  apps/discord-bot/package.json
  packages/discordjs-mock/src/channel-mock.ts
Labels: 🤖bot

Prisma schema package
  answeroverflow.code-workspace
  packages/db/index.ts
  packages/db/src/zod-schemas.ts
  packages/prisma-schema/index.ts
  packages/prisma-schema/package.json
  packages/prisma-schema/prisma/schema.prisma
  packages/prisma-schema/src/default.test.ts
  packages/prisma-schema/src/default.ts
  packages/prisma-schema/src/prisma.test.ts
  packages/prisma-schema/src/prisma.ts
  packages/prisma-schema/tsconfig.json
  packages/prisma-schema/vitest.config.ts
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/src/id.ts
  packages/utils/tsconfig.json
  packages/utils/vitest.config.ts
Labels: 📚db

Working elastic tests
  answeroverflow.code-workspace
  packages/db/index.ts
  packages/elastic-types/index.ts
  packages/elastic-types/package.json
  packages/elastic-types/src/default.test.ts
  packages/elastic-types/src/default.ts
  packages/elastic-types/src/elastic.test.ts
  packages/elastic-types/src/elastic.ts
  packages/elastic-types/tsconfig.json
  packages/elastic-types/vitest.config.ts
  packages/prisma-types/index.ts
  packages/prisma-types/package.json
  packages/prisma-types/prisma/schema.prisma
  packages/prisma-types/src/default.test.ts
  packages/prisma-types/src/default.ts
  packages/prisma-types/src/prisma.test.ts
  packages/prisma-types/src/prisma.ts
  packages/prisma-types/tsconfig.json
  packages/prisma-types/vitest.config.ts
  packages/utils/src/id.ts
Labels: 📚db

Working db package
  packages/auth/package.json
  packages/db/index.ts
  packages/db/package.json
  packages/db/src/channel-settings.ts
  packages/db/src/default.test.ts
  packages/db/src/default.ts
  packages/db/src/server-settings.ts
  packages/db/src/user-server-settings.ts
  packages/db/src/utils.test.ts
  packages/db/src/utils.ts
  packages/db/src/zod-schemas.ts
  packages/db/tsconfig.json
  packages/elastic-types/package.json
  packages/prisma-types/package.json
  yarn.lock
Labels: 🔒auth, 📚db

Working auth package
  packages/auth/package.json
  packages/auth/src/adapter.test.ts
Labels: 🔒auth

Working api tests
  answeroverflow.code-workspace
  packages/api/package.json
  packages/api/src/router/channel/channel.test.ts
  packages/api/src/router/channel/channel.ts
  packages/api/src/router/channel/channel_settings.test.ts
  packages/api/src/router/message/message.test.ts
  packages/api/src/router/pages/message-page.test.ts
  packages/api/src/router/server/server.test.ts
  packages/api/src/router/server/server_settings.test.ts
  packages/api/src/router/user-server-settings/user-server-settings.test.ts
  packages/api/src/router/users/accounts/discord-account.test.ts
  packages/api/src/router/users/ignored-discord-accounts/ignored-discord-account.test.ts
  packages/api/src/router/users/user/user.test.ts
  packages/api/src/utils/protected-procedures.test.ts
  packages/api/test/public_data.ts
  packages/api/test/utils.test.ts
  packages/api/test/utils.ts
  packages/api/vitest.config.ts
  packages/auth/src/adapter.test.ts
  packages/config/tsconfig/base.json
  packages/db-mock/README.md
  packages/db-mock/index.ts
  packages/db-mock/package.json
  packages/db-mock/tsconfig.json
  packages/db-mock/vitest.config.ts
  packages/elastic-types/index.ts
  packages/prisma-types/src/default.test.ts
  packages/prisma-types/src/default.ts
  packages/utils/index.ts
  packages/utils/src/select.ts
  scripts/vitest.config.ts
  yarn.lock
Labels: ⚡ api, 🔒auth

Fix up broken tests
  packages/auth/src/adapter.test.ts
  packages/db/src/user-server-settings.test.ts
  packages/db/src/utils.test.ts
  packages/discordjs-utils/package.json
  packages/utils/package.json
  packages/utils/src/id.ts
  packages/utils/src/select.test.ts
  turbo.json
Labels: 🔒auth, 📚db

Run storybook tests in parallel
  packages/ui/.gitignore
  packages/ui/package.json
Labels: 🖥️website

Fix lint issues
  packages/db/index.ts
Labels: 📚db

Fix build issues
  packages/api/src/router/channel/channel_settings.ts
Labels: ⚡ api

Actually actually fix all lint errors
  apps/discord-bot/src/domains/indexing.test.ts
  packages/api/src/router/users/ignored-discord-accounts/ignored-discord-account.test.ts
Labels: 🤖bot, ⚡ api

Remove prisma env vars from elastic package
  packages/elastic-types/index.ts
Labels: none

Remove accidentally included files from tsconfig
  packages/elastic-types/tsconfig.json
  packages/prisma-types/tsconfig.json
Labels: none

Update jest ignored workspaces
  answeroverflow.code-workspace
Labels: none

Update jest ignored workspaces
  answeroverflow.code-workspace
Labels: none

Implementation
  apps/discord-bot/src/domains/consent.test.ts
  apps/discord-bot/src/domains/consent.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.test.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.ts
  apps/discord-bot/tsconfig.json
  apps/discord-bot/tsup.config.ts
  packages/api/src/router/context.ts
  packages/api/src/router/trpc.ts
Labels: 🤖bot, 🎆event, ⚡ api

Forum Post Guidelines Consent (#128)
  apps/discord-bot/src/domains/consent.test.ts
  apps/discord-bot/src/domains/consent.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.test.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.ts
  apps/discord-bot/tsconfig.json
  apps/discord-bot/tsup.config.ts
  packages/api/src/router/context.ts
  packages/api/src/router/trpc.ts
Labels: 🤖bot, 🎆event, ⚡ api

Forum Post Guidelines Consent (#128)
  apps/discord-bot/src/domains/consent.test.ts
  apps/discord-bot/src/domains/consent.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.test.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.ts
  apps/discord-bot/tsconfig.json
  apps/discord-bot/tsup.config.ts
  packages/api/src/router/context.ts
  packages/api/src/router/trpc.ts
Labels: 🤖bot, 🎆event, ⚡ api

add(ui): homepage, new button component
  apps/nextjs/src/styles/globals.css
  packages/config/tailwind/index.js
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/src/components/Footer.stories.tsx
  packages/ui/src/components/Message.tsx
  packages/ui/src/components/home/Home.stories.tsx
  packages/ui/src/components/home/Home.tsx
  packages/ui/src/components/home/LandingAnimation/LandingAnimation.stories.tsx
  packages/ui/src/components/home/LandingAnimation/LandingAnimation.tsx
  packages/ui/src/components/icons/DiscordIcon.tsx
  packages/ui/src/components/newComps/Button.stories.tsx
  packages/ui/src/components/newComps/Button.tsx
  packages/ui/src/utils/decorators.tsx
  yarn.lock
Labels: ⚛ component, 🖥️website

Clean & regenerate database when running tests
  apps/discord-bot/package.json
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  package.json
  packages/db/package.json
  packages/db/scripts/wipe.ts
  packages/db/tsconfig.json
  turbo.json
Labels: 🤖bot, 🎆event, 📚db

Clean & regenerate database when running tests
  apps/discord-bot/package.json
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  package.json
  packages/db/package.json
  packages/db/scripts/wipe.ts
  packages/db/tsconfig.json
  turbo.json
Labels: 🤖bot, 🎆event, 📚db

Address flakey tests by improving random id usage
  apps/discord-bot/src/domains/indexing.test.ts
  apps/discord-bot/src/domains/mark-solution.test.ts
  packages/api/package.json
  packages/api/src/router/message/message.test.ts
  packages/api/src/router/pages/message-page.test.ts
  packages/api/src/utils/protected-procedures.test.ts
  packages/discordjs-utils/src/snowflake.ts
  packages/elastic-types/src/elastic.test.ts
  packages/utils/src/id.ts
  turbo.json
Labels: 🤖bot, ⚡ api

Address flakey tests by improving random id usage
  apps/discord-bot/src/domains/indexing.test.ts
  apps/discord-bot/src/domains/mark-solution.test.ts
  packages/api/package.json
  packages/api/src/router/message/message.test.ts
  packages/api/src/router/pages/message-page.test.ts
  packages/api/src/utils/protected-procedures.test.ts
  packages/discordjs-utils/src/snowflake.ts
  packages/elastic-types/src/elastic.test.ts
  packages/utils/src/id.ts
  turbo.json
Labels: 🤖bot, ⚡ api

Bump delay time, make message parity use test api router caller
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  packages/discordjs-mock/src/helpers.ts
Labels: 🤖bot, 🎆event

Bump delay time, make message parity use test api router caller
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  packages/discordjs-mock/src/helpers.ts
Labels: 🤖bot, 🎆event

Update github-actions.yml
  .github/workflows/github-actions.yml
Labels: none

Update github-actions.yml
  .github/workflows/github-actions.yml
Labels: none

Update README & Split out contributing
  CONTRIBUTING.MD
  README.md
  answeroverflow.code-workspace
  assets/search-result-example.png
Labels: none

Rename contriobuting md
  CONTRIBUTING
  README.md
Labels: none

.github/labeler.yml:

"🤖bot":
  - "apps/discord-bot/**"

"📢 command":
    - "apps/discord-bot/src/commands/**"
    - "apps/discord-bot/src/utils/commands/**"

"📖bot-ui":
    - "apps/discord-bot/src/components/**"
    - "apps/discord-bot/src/utils/components/**"

"🎆event":
    - "apps/discord-bot/src/listeners/**" 
    - "apps/discord-bot/src/utils/listeners/**"

"⚡ api":
  - "packages/api/**"

"🔒auth":
  - "packages/auth/**"

"⚛ component":
  - "packages/ui/src/components/**"

"📚db":
  - "packages/db/**"

"📄 page":
  - "apps/nextjs/src/pages"

"🖥️website":
  - "packages/ui/**"
  - "apps/nextjs/**"
