Repository AnswerOverflow/AnswerOverflow, pull requests merged in 2023-02, with the labels that each got.

#121 Mark Solution Context Menu Command
  apps/discord-bot/public/icons/discord-icon.png
  apps/discord-bot/src/commands/settings/channel-settings.tsx
  apps/discord-bot/src/commands/settings/consent-command.ts
  apps/discord-bot/src/commands/settings/mark-solution-command.ts
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  apps/discord-bot/src/components/channel-settings-menu.tsx
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/channel-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  apps/discord-bot/src/utils/bot.ts
  apps/discord-bot/src/utils/commands/mark-solution.test.ts
  apps/discord-bot/src/utils/commands/mark-solution.ts
  apps/discord-bot/src/utils/consent.ts
  apps/discord-bot/src/utils/constants.ts
  apps/discord-bot/src/utils/conversions.test.ts
  apps/discord-bot/src/utils/indexing.test.ts
  apps/discord-bot/test/utils/discordjs/channel-mock.ts
  apps/discord-bot/test/utils/discordjs/mock.ts
  apps/discord-bot/test/utils/discordjs/scenarios.ts
  apps/discord-bot/test/utils/helpers.ts
  packages/api/src/router/channel/channel_settings.ts
  packages/api/src/router/channel/types.ts
Labels: 🤖bot, 📖bot-ui, 🎆event, ⚡ api, 📢 command

#123 Refactor mock & utils into discordjs-[mock/utils] packages
  answeroverflow.code-workspace
  apps/discord-bot/README.md
  apps/discord-bot/jest.config.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/settings/mark-solution-command.ts
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  apps/discord-bot/src/domains/consent.ts
  apps/discord-bot/src/domains/indexing.test.ts
  apps/discord-bot/src/domains/indexing.ts
  apps/discord-bot/src/domains/mark-solution.test.ts
  apps/discord-bot/src/domains/mark-solution.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.ts
  apps/discord-bot/src/listeners/events/indexing-loop.test.ts
  apps/discord-bot/src/listeners/events/indexing-loop.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/parity/channel-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  apps/discord-bot/src/utils/conversions.test.ts
  apps/discord-bot/src/utils/utils.ts
  apps/discord-bot/test/helpers.ts
  apps/discord-bot/test/reacord-utils.tsx
  apps/discord-bot/test/sapphire-mock.ts
  apps/discord-bot/tsup.config.ts
  packages/config/tsconfig/base.json
  packages/discordjs-mock/.swcrc
  packages/discordjs-mock/index.ts
  packages/discordjs-mock/jest.config.ts
  packages/discordjs-mock/package.json
  packages/discordjs-mock/src/channel-mock.test.ts
  packages/discordjs-mock/src/channel-mock.ts
  packages/discordjs-mock/src/client-mock.ts
  packages/discordjs-mock/src/guild-mock.test.ts
  packages/discordjs-mock/src/guild-mock.ts
  packages/discordjs-mock/src/helpers.ts
  packages/discordjs-mock/src/interaction-mock.test.ts
  packages/discordjs-mock/src/interaction-mock.ts
  packages/discordjs-mock/src/scenarios.ts
  packages/discordjs-mock/src/user-mock.test.ts
  packages/discordjs-mock/src/user-mock.ts
  packages/discordjs-mock/tsconfig.json
  packages/discordjs-utils/.swcrc
  packages/discordjs-utils/index.ts
  packages/discordjs-utils/jest.config.ts
  packages/discordjs-utils/package.json
  packages/discordjs-utils/src/message.ts
  packages/discordjs-utils/src/snowflake.test.ts
  packages/discordjs-utils/src/snowflake.ts
  packages/discordjs-utils/tsconfig.json
  turbo.json
  yarn.lock
Labels: 🤖bot, 📖bot-ui, 🎆event, 📢 command

#128 Forum Post Guidelines Consent
  apps/discord-bot/src/domains/consent.test.ts
  apps/discord-bot/src/domains/consent.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.test.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.ts
  apps/discord-bot/tsconfig.json
  apps/discord-bot/tsup.config.ts
  packages/api/src/router/context.ts
  packages/api/src/router/trpc.ts
Labels: 🤖bot, 🎆event, ⚡ api

#148 Remote development instructions
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose-workspace.yml
  .env.example
  .github/workflows/github-actions.yml
  .gitpod.yml
  CONTRIBUTING.md
  README.md
  apps/discord-bot/jest.config.ts
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  docker-compose-extras.yml
  packages/discordjs-mock/index.ts
  packages/discordjs-mock/jest.config.ts
  packages/discordjs-mock/src/helpers.ts
  packages/discordjs-utils/jest.config.ts
  packages/elastic-types/src/elastic.test.ts
  scripts/vitest.config.ts
  turbo.json
Labels: 🤖bot, 📖bot-ui

#151 Merge Channel Settings and Server Settings Into Parent Tables
  apps/discord-bot/src/commands/settings/channel-settings.tsx
  apps/discord-bot/src/components/channel-settings-menu.test.tsx
  apps/discord-bot/src/components/channel-settings-menu.tsx
  apps/discord-bot/src/domains/consent.test.ts
  apps/discord-bot/src/domains/consent.ts
  apps/discord-bot/src/domains/indexing.test.ts
  apps/discord-bot/src/domains/indexing.ts
  apps/discord-bot/src/domains/mark-solution.test.ts
  apps/discord-bot/src/domains/mark-solution.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.test.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.test.ts
  apps/discord-bot/src/listeners/events/read-the-rules-consent.ts
  apps/discord-bot/src/listeners/parity/channel-parity.test.ts
  apps/discord-bot/src/listeners/parity/channel-parity.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.ts
  apps/discord-bot/src/utils/conversions.ts
  packages/api/src/router/channel/channel-settings.test.ts
  packages/api/src/router/channel/channel-settings.ts
  packages/api/src/router/channel/channel.test.ts
  packages/api/src/router/channel/channel.ts
  packages/api/src/router/channel/types.ts
  packages/api/src/router/index.ts
  packages/api/src/router/pages/message-page.test.ts
  packages/api/src/router/pages/message-page.ts
  packages/api/src/router/server/server.test.ts
  packages/api/src/router/server/server.ts
  packages/api/src/router/server/server_settings.test.ts
  packages/api/src/router/server/server_settings.ts
  packages/api/src/utils/types.ts
  packages/db-mock/index.ts
  packages/db/index.ts
  packages/db/src/channel-settings.ts
  packages/db/src/channel.test.ts
  packages/db/src/channel.ts
  packages/db/src/server-settings.test.ts
  packages/db/src/server-settings.ts
  packages/db/src/server.test.ts
  packages/db/src/server.ts
  packages/db/src/user-server-settings.ts
  packages/db/src/utils.ts
  packages/db/src/zod-schemas.ts
  packages/prisma-types/prisma/schema.prisma
  packages/prisma-types/src/default.test.ts
  packages/prisma-types/src/default.ts
  packages/ui/src/components/Message.tsx
  packages/ui/src/components/MessageResultPage.tsx
  packages/ui/src/components/ServerInvite.stories.tsx
  packages/ui/src/components/ServerInvite.tsx
  packages/ui/test/props.ts
  turbo.json
Labels: 🤖bot, 🖥️website, 📖bot-ui, 🎆event, ⚡ api, 📚db, ⚛ component, 📢 command

#165 Create pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: 🛠️dev env

#187 [feat]: sync message replies
  apps/discord-bot/src/domains/indexing.test.ts
  apps/discord-bot/src/domains/indexing.ts
  apps/discord-bot/src/utils/conversions.ts
  apps/nextjs/package.json
  apps/nextjs/src/pages/m/[messageId].tsx
  packages/api/package.json
  packages/api/src/router/message/message.test.ts
  packages/api/src/router/message/message.ts
  packages/api/src/router/pages/message-page.test.ts
  packages/api/test/public-data.ts
  packages/api/vitest.config.ts
  packages/auth/package.json
  packages/auth/vitest.config.ts
  packages/db-mock/package.json
  packages/db-mock/vitest.config.ts
  packages/db/package.json
  packages/db/src/message.test.ts
  packages/db/src/message.ts
  packages/db/vitest.config.ts
  packages/elastic-types/package.json
  packages/elastic-types/src/default.test.ts
  packages/elastic-types/src/default.ts
  packages/elastic-types/src/elastic.test.ts
  packages/elastic-types/src/elastic.ts
  packages/elastic-types/vitest.config.ts
  packages/prisma-types/package.json
  packages/prisma-types/src/zod-schemas.ts
  packages/prisma-types/vitest.config.ts
  packages/ui/package.json
  packages/ui/src/components/Message.stories.tsx
  packages/ui/src/components/MessageResultPage.stories.tsx
  packages/ui/src/components/MessageResultPage.tsx
  packages/ui/test/props.ts
  packages/utils/vitest.config.ts
  scripts/vitest.config.ts
  yarn.lock
Labels: 🤖bot, 🖥️website, ⚡ api, 🔒auth, 📚db, ⚛ component

#146 feat(ui): new homepage, navbar and button
  answeroverflow.code-workspace
  apps/discord-bot/package.json
  apps/nextjs/public/googlelogo.png
  apps/nextjs/src/styles/globals.css
  package.json
  packages/api/package.json
  packages/config/eslint-config-custom/next.js
  packages/config/eslint-config-custom/prettierrc.js
  packages/config/tailwind/index.js
  packages/discordjs-mock/package.json
  packages/discordjs-mock/src/channel-mock.ts
  packages/discordjs-utils/package.json
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/src/components/Footer.stories.tsx
  packages/ui/src/components/Message.tsx
  packages/ui/src/components/ServerInvite.tsx
  packages/ui/src/components/deprecated/Button.stories.tsx
  packages/ui/src/components/deprecated/Button.tsx
  packages/ui/src/components/deprecated/Navbar.stories.tsx
  packages/ui/src/components/deprecated/Navbar.tsx
  packages/ui/src/components/deprecated/deprecated.md
  packages/ui/src/components/home/BlobHome.tsx
  packages/ui/src/components/home/Home.stories.tsx
  packages/ui/src/components/home/Home.tsx
  packages/ui/src/components/home/HomeLeadText.tsx
  packages/ui/src/components/home/HomeMessages.ts
  packages/ui/src/components/home/QuestionAnswerArea/DashAnimation.css
  packages/ui/src/components/home/QuestionAnswerArea/GooglePage.stories.tsx
  packages/ui/src/components/home/QuestionAnswerArea/GooglePage/GooglePage.tsx
  packages/ui/src/components/home/QuestionAnswerArea/GooglePage/GoogleResult.tsx
  packages/ui/src/components/home/QuestionAnswerArea/GooglePage/GoogleSearchBar.tsx
  packages/ui/src/components/home/QuestionAnswerArea/GooglePage/googlelogo.png
  packages/ui/src/components/home/QuestionAnswerArea/QuestionAnswerArea.tsx
  packages/ui/src/components/icons/DiscordIcon.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/primitives/Button.stories.tsx
  packages/ui/src/components/primitives/Button.tsx
  packages/ui/src/components/primitives/Navbar.tsx
  packages/ui/src/components/primitives/button-styles.ts
  packages/ui/src/utils/decorators.tsx
  packages/ui/src/utils/hooks.ts
  packages/ui/src/utils/theme.ts
  yarn.lock
Labels: 🤖bot, 🖥️website, ⚡ api, ⚛ component

#167 Design guidelines
  CONTRIBUTING.md
  DESIGN_GUIDELINES.md
  README.md
Labels: 🛠️dev env

#201 (chore): upgrade storybook
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/.storybook/main.js
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/test-runner.js
  packages/ui/package.json
  packages/ui/src/components/DiscordAvatar.stories.tsx
  packages/ui/src/components/Footer.stories.tsx
  packages/ui/src/components/Message.stories.tsx
  packages/ui/src/components/MessageResultPage.stories.tsx
  packages/ui/src/components/Pricing.stories.tsx
  packages/ui/src/components/SearchBar.stories.tsx
  packages/ui/src/components/ServerIcon.stories.tsx
  packages/ui/src/components/ServerInvite.stories.tsx
  packages/ui/src/components/analytics/Chart.stories.tsx
  packages/ui/src/components/analytics/StatsCard.stories.tsx
  packages/ui/src/components/deprecated/Button.stories.tsx
  packages/ui/src/components/deprecated/Navbar.stories.tsx
  packages/ui/src/components/home/Home.stories.tsx
  packages/ui/src/components/home/QuestionAnswerArea/GooglePage.stories.tsx
  packages/ui/src/components/primitives/Button.stories.tsx
  packages/ui/src/components/primitives/table/Table.stories.tsx
  packages/ui/src/main.ts
  packages/ui/tsconfig.json
  turbo.json
  yarn.lock
Labels: 🖥️website, ⚛ component

#178 Create ManageServerCard component
  packages/ui/src/components/ManageServerCard.stories.tsx
  packages/ui/src/components/ManageServerCard.tsx
  packages/ui/src/components/index.ts
Labels: 🖥️website, ⚛ component

#207 (feat): search results api
  .devcontainer/devcontainer.json
  answeroverflow.code-workspace
  apps/discord-bot/src/components/channel-settings-menu.tsx
  apps/discord-bot/src/domains/indexing.ts
  apps/discord-bot/src/utils/conversions.ts
  apps/discord-bot/tsconfig.json
  apps/nextjs/src/pages/m/[messageId].tsx
  apps/nextjs/tsconfig.json
  package.json
  packages/api/README.md
  packages/api/index.ts
  packages/api/src/router/index.ts
  packages/api/src/router/message/message.test.ts
  packages/api/src/router/message/message.ts
  packages/api/src/router/message/types.ts
  packages/api/src/router/messages/messages.test.ts
  packages/api/src/router/messages/messages.ts
  packages/api/src/router/pages/message-page.test.ts
  packages/api/src/router/pages/message-page.ts
  packages/api/src/utils/permissions.ts
  packages/api/src/utils/types.ts
  packages/api/test/public-data.ts
  packages/api/tsconfig.json
  packages/auth/tsconfig.json
  packages/db-mock/index.ts
  packages/db/README.md
  packages/db/src/discord-account.ts
  packages/db/src/message.test.ts
  packages/db/src/message.ts
  packages/db/src/server.ts
  packages/db/tsconfig.json
  packages/discordjs-mock/tsconfig.json
  packages/discordjs-utils/tsconfig.json
  packages/elastic-types/src/default.test.ts
  packages/elastic-types/src/default.ts
  packages/elastic-types/src/elastic.test.ts
  packages/elastic-types/src/elastic.ts
  packages/ui/src/components/Message.stories.tsx
  packages/ui/src/components/home/HomeMessages.ts
  packages/ui/test/props.ts
  packages/ui/tsconfig.json
  packages/utils/package.json
  packages/utils/src/id.ts
  reset.d.ts
  tsconfig.json
  yarn.lock
Labels: 🤖bot, 🖥️website, 📖bot-ui, ⚡ api, 🔒auth, 📚db, ⚛ component

#221 (feat): server settings menu
  CONTRIBUTING.md
  answeroverflow.code-workspace
  apps/discord-bot/src/commands/settings/open-manage-account-menu.tsx
  apps/discord-bot/src/commands/settings/open-server-settings-menu.tsx
  apps/discord-bot/src/components/instructions-container.tsx
  apps/discord-bot/src/components/instructions.tsx
  apps/discord-bot/src/components/manage-account-menu.test.tsx
  apps/discord-bot/src/components/manage-account-menu.tsx
  apps/discord-bot/src/components/server-settings-menu.test.tsx
  apps/discord-bot/src/components/server-settings-menu.tsx
  apps/discord-bot/src/components/toggle-button.tsx
  apps/discord-bot/src/domains/manage-account.ts
  apps/discord-bot/src/domains/server-settings.ts
  apps/discord-bot/test/reacord-utils.tsx
  apps/discord-bot/tsconfig.json
  packages/api/src/router/server/server.test.ts
  packages/api/src/router/server/server.ts
  packages/api/src/router/user-server-settings/user-server-settings.ts
  packages/api/src/utils/permissions.ts
  packages/config/tsconfig/base.json
  packages/config/tsconfig/nextjs.json
  packages/db-mock/index.ts
  packages/db/src/server.ts
  packages/ui/tsconfig.json
Labels: 🤖bot, 🖥️website, 📖bot-ui, ⚡ api, 📚db, 📢 command

#228 feat(bot): sync guild description
  apps/discord-bot/package.json
  apps/discord-bot/src/components/channel-settings-menu.tsx
  apps/discord-bot/src/components/server-settings-menu.test.tsx
  apps/discord-bot/src/domains/mark-solution.test.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.test.ts
  apps/discord-bot/src/listeners/parity/guild-parity.ts
  apps/discord-bot/src/utils/conversions.ts
  apps/nextjs/src/pages/index.tsx
  packages/api/package.json
  packages/api/src/router/channel/channel.ts
  packages/api/src/router/server/server.ts
  packages/api/test/public-data.ts
  packages/cache/package.json
  packages/config/eslint-config-custom/index.js
  packages/config/eslint-config-custom/package.json
  packages/db-mock/package.json
  packages/db/package.json
  packages/db/src/channel.test.ts
  packages/db/src/channel.ts
  packages/db/src/server.test.ts
  packages/db/src/server.ts
  packages/db/src/utils/operations.ts
  packages/discordjs-mock/index.ts
  packages/discordjs-mock/package.json
  packages/discordjs-utils/package.json
  packages/elastic-types/package.json
  packages/prisma-types/package.json
  packages/prisma-types/prisma/schema.prisma
  packages/prisma-types/src/default.ts
  packages/prisma-types/src/zod-schemas.ts
  packages/ui/src/components/ServerInvite.stories.tsx
  packages/ui/test/props.ts
  packages/utils/package.json
  yarn.lock
Labels: 🤖bot, 🖥️website, 📖bot-ui, 🎆event, ⚡ api, 📚db, ⚛ component
