Repository AnswerOverflow/AnswerOverflow, pull requests merged in 2023-07, with the labels that each got.

#448 chore(ui/stories): convert all stories to ladle format
  apps/discord-bot/src/components/primitives/router.tsx
  apps/discord-bot/src/listeners/events/auto-thread.test.ts
  apps/main-site/src/pages/api/trpc/[trpc].ts
  packages/config/eslint-config-custom/next.js
  packages/config/eslint-config-custom/package.json
  packages/discordjs-mock/src/guild-mock.ts
  packages/discordjs-mock/src/interaction-mock.ts
  packages/discordjs-mock/src/message-mock.ts
  packages/discordjs-mock/src/to-api-data.ts
  packages/discordjs-mock/src/user-mock.ts
  packages/ui/.ladle/UnoptimizedFont.tsx
  packages/ui/.ladle/UnoptimizedImage.tsx
  packages/ui/.ladle/UnoptimizedLink.tsx
  packages/ui/.ladle/code.scss
  packages/ui/.ladle/components.tsx
  packages/ui/.ladle/decorators.tsx
  packages/ui/.ladle/global-state.ts
  packages/ui/.ladle/styles.css
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/manager-head.html
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/test-runner.js
  packages/ui/package.json
  packages/ui/src/components/dev/CommitBanner.stories.tsx
  packages/ui/src/components/pages/BrowseCommunitiesPage.stories.tsx
  packages/ui/src/components/pages/CommunityPage.stories.tsx
  packages/ui/src/components/pages/Home.stories.tsx
  packages/ui/src/components/pages/MessageResultPage.stories.tsx
  packages/ui/src/components/pages/PageWrapper.tsx
  packages/ui/src/components/pages/SearchPage.stories.tsx
  packages/ui/src/components/pages/home/DemoMessage.stories.tsx
  packages/ui/src/components/pages/home/QuestionAnswerArea/GooglePage.stories.tsx
  packages/ui/src/components/pages/onboarding/OnboardingContainer.stories.tsx
  packages/ui/src/components/primitives/Contributors.stories.tsx
  packages/ui/src/components/primitives/DiscordAvatar.stories.tsx
  packages/ui/src/components/primitives/Footer.stories.tsx
  packages/ui/src/components/primitives/Message.stories.tsx
  packages/ui/src/components/primitives/Message.tsx
  packages/ui/src/components/primitives/Navbar.stories.tsx
  packages/ui/src/components/primitives/SearchBar.stories.tsx
  packages/ui/src/components/primitives/SearchResult.stories.tsx
  packages/ui/src/components/primitives/ServerCard.stories.tsx
  packages/ui/src/components/primitives/ServerIcon.stories.tsx
  packages/ui/src/components/primitives/ServerInvite.stories.tsx
  packages/ui/src/components/primitives/base/AnswerOverflowLogo.stories.tsx
  packages/ui/src/components/primitives/base/Button.stories.tsx
  packages/ui/src/components/primitives/base/Command.stories.tsx
  packages/ui/src/components/primitives/base/Heading.stories.tsx
  packages/ui/src/components/primitives/base/Icons.tsx
  packages/ui/src/components/primitives/base/LinkButton.stories.tsx
  packages/ui/src/components/primitives/base/Paragraph.stories.tsx
  packages/ui/src/components/primitives/data-display/Chart.stories.tsx
  packages/ui/src/components/primitives/data-display/StatsCard.stories.tsx
  packages/ui/src/components/primitives/data-display/Table.stories.tsx
  packages/ui/src/main.ts
  packages/ui/src/utils/trpc.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  turbo.json
  yarn.lock
Labels: 🤖bot, 🖥️website, 📖bot-ui, 🎆event, ⚛ component

#457 chore(build): move to pnpm
  .devcontainer/devcontainer.json
  .devcontainer/ui/devcontainer.json
  .github/workflows/github-actions.yml
  .gitpod.yml
  .npmrc
  .vscode/launch.json
  CONTRIBUTING.md
  answeroverflow.code-workspace
  apps/discord-bot/Dockerfile
  apps/discord-bot/package.json
  apps/discord-bot/src/components/settings/channel-settings-menu.test.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.tsx
  apps/discord-bot/src/components/settings/server-settings-menu.tsx
  apps/docs/package.json
  apps/main-site/package.json
  apps/main-site/src/pages/api/auth/tenant/callback.ts
  apps/main-site/src/pages/api/auth/tenant/signin.ts
  apps/main-site/src/pages/api/auth/tenant/signout.ts
  apps/proxy/package.json
  package.json
  packages/analytics/package.json
  packages/api/package.json
  packages/api/src/router/auth.ts
  packages/api/src/router/channel/channel.test.ts
  packages/api/src/router/messages/messages.ts
  packages/api/src/utils/permissions.ts
  packages/api/src/utils/posthog.ts
  packages/api/src/utils/types.ts
  packages/api/test/utils.test.ts
  packages/api/test/utils.ts
  packages/auth/package.json
  packages/cache/package.json
  packages/cache/test/setup.ts
  packages/config/.vscode/launch.json
  packages/config/.vscode/settings.json
  packages/constants/package.json
  packages/db-mock/package.json
  packages/db/package.json
  packages/discordjs-mock/package.json
  packages/discordjs-mock/src/interaction-mock.ts
  packages/discordjs-mock/src/scenarios.ts
  packages/discordjs-utils/package.json
  packages/elastic-types/package.json
  packages/hooks/package.json
  packages/prisma-types/package.json
  packages/ui/package.json
  packages/ui/src/components/dashboard/dashboard.tsx
  packages/ui/src/components/pages/home/PricingArea.tsx
  packages/ui/test/props.ts
  packages/ui/tsconfig.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Labels: 🤖bot, 🖥️website, 📖bot-ui, ⚡ api, 🔒auth, 📚db, ⚛ component

#459 feat(web): pricing page
  .env.example
  apps/main-site/src/pages/api/v1/stripe/webhook.ts
  apps/main-site/src/pages/pricing.tsx
  packages/api/src/router/server/server.ts
  packages/hooks/src/analytics.tsx
  packages/payments/index.ts
  packages/prisma-types/prisma/schema.prisma
  packages/prisma-types/src/server-schema.ts
  packages/ui/.ladle/components.tsx
  packages/ui/package.json
  packages/ui/src/components/dashboard/cards.stories.tsx
  packages/ui/src/components/dashboard/cards.tsx
  packages/ui/src/components/dashboard/dashboard.stories.tsx
  packages/ui/src/components/dashboard/dashboard.tsx
  packages/ui/src/components/pages/PageWrapper.tsx
  packages/ui/src/components/pages/Pricing.stories.tsx
  packages/ui/src/components/pages/Pricing.tsx
  packages/ui/src/components/pages/index.ts
  packages/ui/src/components/primitives/Footer.tsx
  packages/ui/src/components/primitives/base/Accordion.tsx
  packages/ui/src/components/primitives/base/AlertDialog.tsx
  packages/ui/src/components/primitives/base/Dialog.tsx
  packages/ui/src/components/primitives/base/Slider.tsx
  packages/ui/src/components/primitives/base/TextArea.tsx
  packages/ui/src/components/primitives/base/index.ts
  packages/ui/src/components/primitives/tier-access-only.tsx
  pnpm-lock.yaml
  turbo.json
Labels: 🖥️website, ⚡ api, ⚛ component

#463 feat(bot): option to consider all messages as public
  apps/discord-bot/src/components/settings/server-settings-menu.test.tsx
  apps/discord-bot/src/components/settings/server-settings-menu.tsx
  apps/discord-bot/src/domains/server-settings.ts
  packages/analytics/.eslintrc.js
  packages/api/src/router/messages/messages.ts
  packages/api/src/router/server/server.test.ts
  packages/api/src/router/server/server.ts
  packages/constants/src/discord.ts
  packages/db/src/message.test.ts
  packages/db/src/message.ts
  packages/db/src/pages.ts
  packages/db/src/server.test.ts
  packages/prisma-types/src/server-schema.ts
  packages/ui/test/props.ts
Labels: 🤖bot, 🖥️website, 📖bot-ui, ⚡ api, 📚db

#464 feat(bot): anonymize messages
  apps/discord-bot/src/components/settings/server-settings-menu.test.tsx
  apps/discord-bot/src/components/settings/server-settings-menu.tsx
  apps/discord-bot/src/domains/server-settings.ts
  apps/discord-bot/src/listeners/events/on-question-ask.ts
  packages/api/src/router/server/server.test.ts
  packages/api/src/router/server/server.ts
  packages/api/src/router/users/accounts/types.ts
  packages/constants/src/discord.ts
  packages/db/package.json
  packages/db/src/message.test.ts
  packages/db/src/message.ts
  packages/db/src/utils/anonymization.ts
  packages/prisma-types/src/discord-account-schema.ts
  packages/prisma-types/src/server-schema.ts
  packages/ui/test/props.ts
  pnpm-lock.yaml
Labels: 🤖bot, 🖥️website, 📖bot-ui, 🎆event, ⚡ api, 📚db

#472 fix(bot): speed up indexing
  apps/discord-bot/src/domains/indexing.ts
  packages/db/src/message.ts
  packages/elastic-types/src/elastic.test.ts
  packages/elastic-types/src/elastic.ts
Labels: 🤖bot, 📚db
