Repository AnswerOverflow/AnswerOverflow, pull requests merged in 2023-03, with the labels that each got.

#232 tweak(docs): design guidelines
  DESIGN_GUIDELINES.md
Labels: 📖 documentation

#235 tweak(config/tailwind): colors
  packages/config/tailwind/index.js
Labels: 🖥️website

#239 feat(bot): health check endpoint
  apps/discord-bot/src/routes/hello-world.ts
  apps/discord-bot/src/routes/ping.ts
Labels: 🤖bot

#253 (feat): transition from reacord -> discordjs-react
  .gitignore
  answeroverflow.code-workspace
  apps/discord-bot/README.md
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/settings/open-channel-settings-menu.tsx
  apps/discord-bot/src/commands/settings/open-manage-account-menu.tsx
  apps/discord-bot/src/commands/settings/open-server-settings-menu.tsx
  apps/discord-bot/src/components/primitives/instructions-container.tsx
  apps/discord-bot/src/components/primitives/router.tsx
  apps/discord-bot/src/components/primitives/support.tsx
  apps/discord-bot/src/components/primitives/toggle-button.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.test.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.tsx
  apps/discord-bot/src/components/settings/manage-account-menu.test.tsx
  apps/discord-bot/src/components/settings/manage-account-menu.tsx
  apps/discord-bot/src/components/settings/server-settings-menu.test.tsx
  apps/discord-bot/src/components/settings/server-settings-menu.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/listeners/events/checkmark-reaction-mark-solution.test.ts
  apps/discord-bot/src/utils/bot.tsx
  apps/discord-bot/src/utils/conditions.ts
  apps/discord-bot/src/utils/conversions.ts
  apps/discord-bot/src/utils/trpc.ts
  apps/discord-bot/src/utils/utils.ts
  apps/discord-bot/test/discordjs-react-utils.tsx
  apps/discord-bot/test/reacord-utils.tsx
  apps/discord-bot/test/sapphire-mock.ts
  apps/discord-bot/tsconfig.json
  apps/discord-bot/tsup.config.ts
  assets/loading-gif.gif
  packages/config/tsconfig/base.json
  packages/discordjs-mock/index.ts
  packages/discordjs-mock/package.json
  packages/discordjs-mock/src/channel-mock.test.ts
  packages/discordjs-mock/src/channel-mock.ts
  packages/discordjs-mock/src/client-mock.ts
  packages/discordjs-mock/src/guild-mock.ts
  packages/discordjs-mock/src/interaction-mock.test.ts
  packages/discordjs-mock/src/interaction-mock.ts
  packages/discordjs-mock/src/message-mock.test.ts
  packages/discordjs-mock/src/message-mock.ts
  packages/discordjs-mock/src/to-api-data.ts
  packages/discordjs-utils/package.json
  turbo.json
  yarn.lock
Labels: 🤖bot, 📖bot-ui, 🎆event, 📢 command

#256 feat(bot): automatically send mark solution instructions
  answeroverflow.code-workspace
  apps/discord-bot/src/domains/indexing.ts
  apps/discord-bot/src/domains/send-mark-solution-instructions.test.ts
  apps/discord-bot/src/domains/send-mark-solution-instructions.ts
  apps/discord-bot/src/listeners/events/send-mark-solution-instructions-listener.test.ts
  apps/discord-bot/src/listeners/events/send-mark-solution-instructions-listener.ts
  apps/discord-bot/src/listeners/parity/guild-parity.ts
  packages/db/src/channel.test.ts
  packages/db/src/channel.ts
  packages/discordjs-mock/src/channel-mock.ts
  packages/discordjs-mock/src/interaction-mock.ts
  packages/discordjs-mock/src/message-mock.ts
Labels: 🤖bot, 🎆event, 📚db

#257 feat(bot): consent buttons
  apps/discord-bot/src/commands/settings/consent-command.ts
  apps/discord-bot/src/commands/settings/open-channel-settings-menu.tsx
  apps/discord-bot/src/commands/settings/open-manage-account-menu.tsx
  apps/discord-bot/src/commands/settings/open-server-settings-menu.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.test.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.tsx
  apps/discord-bot/src/components/settings/manage-account-menu.tsx
  apps/discord-bot/src/domains/manage-account.test.ts
  apps/discord-bot/src/domains/manage-account.ts
  apps/discord-bot/src/domains/mark-solution.test.ts
  apps/discord-bot/src/domains/mark-solution.ts
  apps/discord-bot/src/domains/send-mark-solution-instructions.test.ts
  apps/discord-bot/src/interaction-handlers/consent-button.test.ts
  apps/discord-bot/src/interaction-handlers/consent-button.ts
  apps/discord-bot/src/utils/trpc.ts
  packages/api/src/router/user-server-settings/types.ts
  packages/constants/index.ts
Labels: 🤖bot, 📖bot-ui, ⚡ api, 📢 command

#267 feat (bot): sync embeds, reactions, components & more!
  apps/discord-bot/src/listeners/parity/message-parity.test.ts
  apps/discord-bot/src/listeners/parity/message-parity.ts
  apps/discord-bot/src/utils/conversions.ts
  docker-compose-extras.yml
  packages/api/src/router/messages/messages.test.ts
  packages/api/src/utils/permissions.ts
  packages/elastic-types/index.ts
  packages/elastic-types/package.json
  packages/elastic-types/src/default.test.ts
  packages/elastic-types/src/default.ts
  packages/elastic-types/src/elastic.test.ts
  packages/elastic-types/src/elastic.ts
  packages/elastic-types/src/message.ts
  packages/ui/src/components/Message.stories.tsx
  packages/ui/src/components/Message.tsx
  packages/ui/src/components/home/HomeMessages.ts
  packages/ui/test/props.ts
  turbo.json
  yarn.lock
Labels: 🤖bot, 🖥️website, 🎆event, ⚡ api, ⚛ component

#268 feat(web/search): integrate search results to api
  apps/discord-bot/package.json
  apps/nextjs/package.json
  apps/nextjs/src/pages/_app.tsx
  apps/nextjs/src/pages/_document.tsx
  apps/nextjs/src/pages/index.tsx
  apps/nextjs/src/pages/m/[messageId].tsx
  apps/nextjs/src/pages/search.tsx
  packages/api/src/router/channel/channel.test.ts
  packages/api/src/router/index.ts
  packages/api/src/router/messages/messages.test.ts
  packages/api/src/router/messages/messages.ts
  packages/api/src/utils/types.ts
  packages/api/test/public-data.ts
  packages/api/test/utils.ts
  packages/config/eslint-config-custom/next.js
  packages/config/prettierrc.cjs
  packages/constants/index.ts
  packages/constants/src/api.ts
  packages/db/src/channel.ts
  packages/db/src/message.test.ts
  packages/db/src/message.ts
  packages/elastic-types/src/elastic.test.ts
  packages/elastic-types/src/elastic.ts
  packages/prisma-types/src/zod-schemas.ts
  packages/ui/package.json
  packages/ui/src/components/Footer.tsx
  packages/ui/src/components/MessageResultPage.tsx
  packages/ui/src/components/PageWrapper.tsx
  packages/ui/src/components/SearchBar.tsx
  packages/ui/src/components/SearchBarDriver.tsx
  packages/ui/src/components/ServerInvite.stories.tsx
  packages/ui/src/components/ServerInvite.tsx
  packages/ui/src/components/ServerInviteDriver.tsx
  packages/ui/src/components/deprecated/Navbar.stories.tsx
  packages/ui/src/components/deprecated/Navbar.tsx
  packages/ui/src/components/home/Home.stories.tsx
  packages/ui/src/components/home/Home.tsx
  packages/ui/src/components/home/QuestionAnswerArea/GooglePage/GoogleSearchBar.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/primitives/Button.tsx
  packages/ui/src/components/primitives/Message.tsx
  packages/ui/src/components/primitives/Navbar.stories.tsx
  packages/ui/src/components/primitives/Navbar.tsx
  packages/ui/src/components/search/SearchPage.stories.tsx
  packages/ui/src/components/search/SearchPage.tsx
  packages/ui/src/components/search/SearchResult.stories.tsx
  packages/ui/src/components/search/SearchResult.tsx
  packages/ui/src/utils/checks.ts
  packages/ui/src/utils/discord.ts
  packages/ui/src/utils/hooks.ts
  yarn.lock
Labels: 🤖bot, 🖥️website, ⚡ api, 📚db, ⚛ component

#266 feat(docs): noindex on staging deployment
  .env.example
  apps/discord-bot/src/utils/bot.tsx
  apps/docs/theme.config.tsx
  apps/nextjs/src/pages/_document.tsx
  packages/db/index.ts
  packages/ui/.storybook/manager-head.html
  packages/ui/src/components/AOHead.tsx
  turbo.json
Labels: 🤖bot, 🖥️website, 📚db, ⚛ component

#273 feat(ui): new buttons
  packages/ui/package.json
  packages/ui/src/components/ManageServerCard.tsx
  packages/ui/src/components/home/HomeLeadText.tsx
  packages/ui/src/components/primitives/Button.stories.tsx
  packages/ui/src/components/primitives/Button.tsx
  packages/ui/src/components/primitives/Navbar.tsx
  packages/ui/src/utils/styling.ts
  yarn.lock
Labels: 🖥️website, ⚛ component

#272 feat(bot) pre release polish
  .env.example
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/settings/consent-command.ts
  apps/discord-bot/src/commands/settings/mark-solution-command.ts
  apps/discord-bot/src/commands/settings/open-channel-settings-menu.tsx
  apps/discord-bot/src/commands/settings/open-manage-account-menu.tsx
  apps/discord-bot/src/commands/settings/open-server-settings-menu.tsx
  apps/discord-bot/src/domains/indexing.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/listeners/commands/command-failure.ts
  apps/discord-bot/src/listeners/parity/guild-parity.ts
  apps/discord-bot/src/utils/bot.tsx
  apps/discord-bot/src/utils/utils.ts
  packages/db/src/channel.test.ts
  packages/db/src/server.test.ts
  packages/db/src/user-server-settings.test.ts
  packages/prisma-types/src/zod-schemas.ts
  turbo.json
  yarn.lock
Labels: 🤖bot, 🎆event, 📚db, 📢 command

#278 chore(ui): storybook snippet
  packages/ui/.vscode/storybook-snippet.code-snippets
Labels: 🖥️website, 🛠️dev env, ⚛ component

#280 fix(bot): improve indexing of forum channels
  .env.example
  answeroverflow.code-workspace
  apps/discord-bot/package.json
  apps/discord-bot/src/domains/indexing.test.ts
  apps/discord-bot/src/domains/indexing.ts
  apps/discord-bot/src/domains/mark-solution.test.ts
  apps/discord-bot/src/utils/conversions.ts
  packages/db/src/channel.test.ts
  packages/db/src/channel.ts
  packages/db/src/message.ts
  packages/elastic-types/src/elastic.test.ts
  packages/elastic-types/src/elastic.ts
  packages/prisma-types/prisma/schema.prisma
  packages/prisma-types/src/default.ts
  packages/prisma-types/src/zod-schemas.ts
  packages/utils/src/id.ts
  turbo.json
Labels: 🤖bot, 📚db

#286 fix(ui): paragraph padding style
  packages/ui/src/components/primitives/Paragraph.tsx
Labels: 🖥️website, ⚛ component

#254 feat(docs): docs first pass
  CONTRIBUTING.md
  answeroverflow.code-workspace
  apps/discord-bot/src/components/primitives/support.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.tsx
  apps/discord-bot/src/components/settings/manage-account-menu.test.tsx
  apps/discord-bot/src/components/settings/manage-account-menu.tsx
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/public/add-bot.png
  apps/docs/public/editing-forum-guidelines.png
  apps/docs/public/forum-post-guidelines-consent.png
  apps/docs/public/mark-solution-instructions.png
  apps/docs/public/mark-solution-response-w-forum-post-guidelines.png
  apps/docs/public/membership-screening.png
  apps/docs/public/sample-solved-tag-post.png
  apps/docs/src/components/links.tsx
  apps/docs/src/pages/_app.tsx
  apps/docs/src/pages/_document.tsx
  apps/docs/src/pages/_meta.json
  apps/docs/src/pages/channel-settings.mdx
  apps/docs/src/pages/channel-settings/auto-thread.mdx
  apps/docs/src/pages/channel-settings/forum-guidelines-consent.mdx
  apps/docs/src/pages/channel-settings/indexing.mdx
  apps/docs/src/pages/channel-settings/mark-solution.mdx
  apps/docs/src/pages/channel-settings/send-mark-solution-instructions.mdx
  apps/docs/src/pages/channel-settings/solved-tag.mdx
  apps/docs/src/pages/index.mdx
  apps/docs/src/pages/quick-start.mdx
  apps/docs/src/pages/recommended-setup.mdx
  apps/docs/src/pages/server-settings.mdx
  apps/docs/src/pages/server-settings/read-the-rules-consent.mdx
  apps/docs/src/pages/user-settings.mdx
  apps/docs/src/pages/user-settings/displaying-messages.mdx
  apps/docs/src/pages/user-settings/globally-ignore-account.mdx
  apps/docs/src/pages/user-settings/ignore-account-in-server.mdx
  apps/docs/src/pages/user-settings/ignoring-account.mdx
  apps/docs/src/pages/user-settings/toggle-indexing.mdx
  apps/docs/src/utils/styling.ts
  apps/docs/theme.config.tsx
  packages/api/src/router/user-server-settings/user-server-settings.ts
  packages/config/tailwind/index.js
  packages/constants/index.ts
  packages/constants/src/discord.ts
  packages/constants/src/links.ts
  packages/ui/src/components/AnswerOverflowLogo.tsx
  packages/ui/src/components/Footer.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/primitives/index.ts
  yarn.lock
Labels: 🤖bot, 🖥️website, 📖bot-ui, ⚡ api, ⚛ component

#287 feat(web): vanity urls
  packages/api/src/router/server/server.ts
  packages/db-mock/index.ts
  packages/db/src/server.test.ts
  packages/db/src/server.ts
  packages/prisma-types/prisma/schema.prisma
  packages/prisma-types/src/default.ts
  packages/prisma-types/src/zod-schemas.ts
  packages/ui/src/components/index.ts
  packages/utils/src/id.ts
Labels: 🖥️website, ⚡ api, 📚db, ⚛ component

#288 feat(web): sitemap
  apps/discord-bot/package.json
  apps/docs/theme.config.tsx
  apps/nextjs/src/pages/c/[communityId]/[channelId]/sitemap.xml.ts
  apps/nextjs/src/pages/c/[communityId]/sitemap.xml.ts
  apps/nextjs/src/pages/robots.txt
  apps/nextjs/src/pages/sitemap.xml.ts
  apps/nextjs/src/utils/sitemap.ts
  package.json
  packages/api/package.json
  packages/db/src/channel.ts
  packages/db/src/message.ts
  packages/db/src/server.ts
  packages/discordjs-mock/package.json
  packages/discordjs-mock/src/channel-mock.ts
  packages/discordjs-mock/src/message-mock.ts
  packages/discordjs-mock/src/to-api-data.ts
  packages/discordjs-utils/package.json
  packages/elastic-types/package.json
  packages/elastic-types/src/elastic.ts
  packages/ui/src/components/ServerInvite.tsx
  packages/ui/src/components/primitives/Navbar.tsx
  packages/ui/src/utils/decorators.tsx
  packages/ui/src/utils/hooks.ts
  yarn.lock
Labels: 🤖bot, 🖥️website, ⚡ api, 📚db, ⚛ component

#289 Website changes
  answeroverflow.code-workspace
  apps/main-site/package.json
  apps/main-site/public/featured-communities/apache_tinkerpop_logo.png
  apps/main-site/public/featured-communities/csharp_logo.png
  apps/main-site/public/featured-communities/fifa_live_editor_logo.png
  apps/main-site/public/featured-communities/mudlet_logo.png
  apps/main-site/public/featured-communities/reactiflux_logo.png
  apps/main-site/public/featured-communities/robolabio_logo.png
  apps/main-site/public/featured-communities/sapphire_logo.png
  apps/main-site/public/featured-communities/twill_logo.png
  apps/main-site/src/pages/_document.tsx
  packages/config/tailwind/index.js
  packages/ui/src/components/Callouts.tsx
  packages/ui/src/components/MessageResultPage.stories.tsx
  packages/ui/src/components/PageWrapper.tsx
  packages/ui/src/components/home/AboutArea.tsx
  packages/ui/src/components/home/HeroArea.tsx
  packages/ui/src/components/home/Home.tsx
  packages/ui/src/components/home/HomeLeadText.tsx
  packages/ui/src/components/home/QuestionAnswerArea/QuestionAnswerArea.tsx
  packages/ui/src/components/primitives/Navbar.tsx
  packages/ui/src/components/search/SearchPage.tsx
  yarn.lock
Labels: 🖥️website, ⚛ component

#292 (feat): finish community page
  apps/main-site/src/pages/_app.tsx
  apps/main-site/src/pages/c/[communityId]/[channelId]/sitemap.xml.ts
  apps/main-site/src/pages/c/[communityId]/index.tsx
  packages/api/test/public-data.ts
  packages/config/tailwind/index.js
  packages/db/index.ts
  packages/db/src/message.ts
  packages/db/src/pages.test.ts
  packages/db/src/pages.ts
  packages/db/src/server.ts
  packages/prisma-types/src/zod-schemas.ts
  packages/ui/package.json
  packages/ui/src/components/PageWrapper.tsx
  packages/ui/src/components/ServerInvite.tsx
  packages/ui/src/components/community/CommunityPage.stories.tsx
  packages/ui/src/components/community/CommunityPage.tsx
  packages/ui/src/components/deprecated/Button.stories.tsx
  packages/ui/src/components/deprecated/Button.tsx
  packages/ui/src/components/deprecated/deprecated.md
  packages/ui/src/components/home/AboutArea.tsx
  packages/ui/src/components/primitives/Button.tsx
  packages/ui/src/components/primitives/Dropdown.tsx
  packages/ui/src/components/primitives/Input.tsx
  packages/ui/src/components/primitives/Menubar.tsx
  packages/ui/src/components/primitives/Message.tsx
  packages/ui/src/components/search/SearchPage.tsx
  packages/ui/src/components/search/SearchResult.tsx
  packages/ui/test/props.ts
  packages/ui/tsconfig.json
  yarn.lock
Labels: 🖥️website, ⚡ api, 📚db, ⚛ component

#294 fix(ui/home): drop shadow render bug
  packages/ui/src/components/pages/home/AboutArea.tsx
Labels: 🖥️website, ⚛ component

#302 feat(ui): polish ui
  DESIGN_GUIDELINES.md
  apps/docs/src/pages/quick-start.mdx
  apps/main-site/public/answer-overflow-banner.png
  apps/main-site/src/pages/pricing.tsx
  packages/api/src/router/auth.ts
  packages/db/src/user-server-settings.ts
  packages/ui/src/components/pages/CommunityPage.tsx
  packages/ui/src/components/pages/Home.tsx
  packages/ui/src/components/pages/MessageResultPage.tsx
  packages/ui/src/components/pages/Pricing.stories.tsx
  packages/ui/src/components/pages/SearchPage.tsx
  packages/ui/src/components/pages/home/AboutArea.tsx
  packages/ui/src/components/pages/home/HeroArea.tsx
  packages/ui/src/components/pages/home/PricingArea.tsx
  packages/ui/src/components/pages/home/QuestionAnswerArea/GooglePage/GoogleResult.tsx
  packages/ui/src/components/pages/home/QuestionAnswerArea/GooglePage/GoogleSearchBar.tsx
  packages/ui/src/components/pages/home/QuestionAnswerArea/QuestionAnswerArea.tsx
  packages/ui/src/components/pages/index.ts
  packages/ui/src/components/primitives/Footer.tsx
  packages/ui/src/components/primitives/Message.tsx
  packages/ui/src/components/primitives/Navbar.tsx
  packages/ui/src/components/primitives/SearchResult.tsx
  packages/ui/src/components/primitives/ServerInvite.tsx
  packages/ui/src/components/primitives/base/Icons.tsx
  packages/ui/src/components/primitives/base/Input.tsx
Labels: 🖥️website, ⚡ api, 📚db, ⚛ component

#308 fix(web): polyfill for old browsers
  apps/main-site/package.json
  apps/main-site/src/pages/_app.tsx
  packages/ui/.storybook/preview.ts
  yarn.lock
Labels: 🖥️website

#314 feat(web): integrate sentry to main site
  .env.example
  apps/main-site/.gitignore
  apps/main-site/next.config.mjs
  apps/main-site/package.json
  apps/main-site/public/robots.txt
  apps/main-site/sentry.client.config.js
  apps/main-site/sentry.edge.config.js
  apps/main-site/sentry.properties
  apps/main-site/sentry.server.config.js
  apps/main-site/src/pages/_document.tsx
  apps/main-site/src/pages/_error.tsx
  apps/main-site/src/utils/data-unblocker.ts
  packages/hooks/src/analytics.ts
  yarn.lock
Labels: 🖥️website
