Repository AnswerOverflow/AnswerOverflow, pull requests merged in 2023-04, with the labels that each got.

#330 feat(bot): add jump to last indexed message button
  apps/discord-bot/src/commands/settings/open-channel-settings-menu.tsx
  apps/discord-bot/src/components/primitives/support.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.test.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.tsx
  packages/constants/src/discord.ts
  packages/db/src/message.ts
  packages/elastic-types/src/elastic.ts
Labels: 🤖bot, 📖bot-ui, 📚db, 📢 command

#313 Message feature update
  apps/docs/src/pages/_app.tsx
  apps/docs/src/styles/globals.css
  apps/main-site/next.config.mjs
  apps/main-site/src/pages/_app.tsx
  apps/main-site/src/styles/globals.css
  packages/hooks/src/analytics.ts
  packages/ui/package.json
  packages/ui/src/components/pages/MessageResultPage.stories.tsx
  packages/ui/src/components/pages/MessageResultPage.tsx
  packages/ui/src/components/pages/home/HeroArea.tsx
  packages/ui/src/components/primitives/Message.stories.tsx
  packages/ui/src/components/primitives/Message.tsx
  packages/ui/src/components/primitives/SearchResult.tsx
  packages/ui/src/components/primitives/ServerInvite.tsx
  packages/ui/src/components/primitives/base/Icons.tsx
  packages/ui/src/utils/discord.ts
  yarn.lock
Labels: 🖥️website, ⚛ component

#331 feat(bot): dismiss button
  answeroverflow.code-workspace
  apps/discord-bot/src/commands/settings/consent-command.ts
  apps/discord-bot/src/commands/settings/open-channel-settings-menu.tsx
  apps/discord-bot/src/commands/settings/open-manage-account-menu.tsx
  apps/discord-bot/src/commands/settings/open-server-settings-menu.tsx
  apps/discord-bot/src/components/settings/channel-settings-menu.tsx
  apps/discord-bot/src/components/settings/manage-account-menu.tsx
  apps/discord-bot/src/domains/dismiss-button.test.ts
  apps/discord-bot/src/domains/dismiss-button.ts
  apps/discord-bot/src/domains/send-mark-solution-instructions.ts
  apps/discord-bot/src/interaction-handlers/consent-button.ts
  apps/discord-bot/src/interaction-handlers/dismiss-button-handler.ts
  apps/discord-bot/src/listeners/commands/command-failure.ts
  apps/discord-bot/src/utils/trpc.ts
Labels: 🤖bot, 📖bot-ui, 🎆event, 📢 command

#332 fix(web): hidden discord icons on mobile
  packages/ui/src/components/primitives/Message.tsx
Labels: 🖥️website, ⚛ component

#343 feat(bot): analytics
  answeroverflow.code-workspace
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/settings/mark-solution-command.ts
  apps/discord-bot/src/domains/dismiss-button.ts
  apps/discord-bot/src/domains/manage-account.ts
  apps/discord-bot/src/domains/mark-solution.ts
  apps/discord-bot/src/domains/send-mark-solution-instructions.test.ts
  apps/discord-bot/src/domains/send-mark-solution-instructions.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/listeners/events/auto-thread.ts
  apps/discord-bot/src/listeners/events/event-with-channel-settings.ts
  apps/discord-bot/src/listeners/events/forum-post-guidelines-consent.ts
  apps/discord-bot/src/listeners/events/indexing-loop.test.ts
  apps/discord-bot/src/listeners/events/on-message.ts
  apps/discord-bot/src/listeners/events/on-question-ask.ts
  apps/discord-bot/src/listeners/events/send-mark-solution-instructions-listener.test.ts
  apps/discord-bot/src/listeners/events/send-mark-solution-instructions-listener.ts
  apps/discord-bot/src/listeners/parity/cache-parity.ts
  apps/discord-bot/src/listeners/parity/guild-parity.ts
  apps/discord-bot/src/utils/analytics.ts
  apps/discord-bot/src/utils/bot.tsx
  apps/discord-bot/src/utils/events.ts
  apps/discord-bot/src/utils/utils.ts
  apps/discord-bot/test/sapphire-mock.ts
  package.json
  packages/analytics/src/analytics.ts
  packages/config/tsconfig/nextjs.json
  packages/constants/package.json
  packages/constants/src/analytics.ts
  packages/db/src/message.ts
  packages/hooks/src/analytics.ts
  packages/ui/src/components/pages/CommunityPage.tsx
  packages/ui/src/components/pages/MessageResultPage.tsx
  packages/ui/src/components/pages/home/AboutArea.tsx
  packages/ui/src/components/primitives/Message.tsx
  packages/ui/src/components/primitives/ServerInvite.tsx
  turbo.json
Labels: 🤖bot, 🖥️website, 🎆event, 📚db, ⚛ component, 📢 command

#325 feat (bot): custom statuses
  .env.example
  apps/discord-bot/src/listeners/events/status.ts
  apps/discord-bot/src/utils/bot.tsx
  apps/discord-bot/src/utils/utils.ts
  packages/db/src/message.ts
  packages/elastic-types/src/elastic.test.ts
  packages/elastic-types/src/elastic.ts
  turbo.json
Labels: 🤖bot, 🎆event, 📚db

#372 feat(bot): sync on user updates
  apps/discord-bot/src/listeners/parity/user-parity.test.ts
  apps/discord-bot/src/listeners/parity/user-parity.ts
Labels: 🤖bot, 🎆event

#374 feat(ui): commit banner
  apps/docs/src/pages/_app.tsx
  apps/main-site/src/pages/_app.tsx
  packages/ui/src/components/dev/CommitBanner.stories.tsx
  packages/ui/src/components/dev/CommitBanner.tsx
  turbo.json
Labels: 🖥️website, ⚛ component
