Repository AnswerOverflow/AnswerOverflow, pull requests merged in 2024-02, with the labels that each got.

#539 fix(ui/markdown): heading spaces
  packages/ui/src/components/primitives/message/markdown/render/index.tsx
Labels: 🖥️website, ⚛ component

#544 fix(main-site): make specific community search work
  apps/main-site/src/app/(main-site)/(core)/search/page.tsx
Labels: 🖥️website

#551 /Leaderboard
  apps/discord-bot/events.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/leadboard.ts
  pnpm-lock.yaml
Labels: 🤖bot, 📢 command

#552 fix(site/searchPage): optimise
  apps/main-site/src/app/(main-site)/(core)/search/page.tsx
  apps/main-site/src/app/[domain]/(core)/search/page.tsx
Labels: 🖥️website

#553 feat(ui,site): update /about, then switch /about and / (homepage)"
  apps/main-site/next.config.mjs
  apps/main-site/src/app/(main-site)/_components/DashAnimation.css
  apps/main-site/src/app/(main-site)/_components/DemoMessage.tsx
  apps/main-site/src/app/(main-site)/_components/GooglePage.tsx
  apps/main-site/src/app/(main-site)/_components/GoogleResult.tsx
  apps/main-site/src/app/(main-site)/_components/GoogleSearchBar.tsx
  apps/main-site/src/app/(main-site)/_components/HomeMessages.ts
  apps/main-site/src/app/(main-site)/_components/HowDoesItWorkArea.tsx
  apps/main-site/src/app/(main-site)/_components/QuestionAnswerArea.tsx
  apps/main-site/src/app/(main-site)/_searchAllOfDiscord/_searchAllOfDiscord.tsx
  apps/main-site/src/app/(main-site)/about/page.tsx
  apps/main-site/src/app/(main-site)/page.tsx
  global.css
  packages/config/tailwind/index.js
  packages/ui/src/components/pages/home/FeaturedCommunities.tsx
  packages/ui/src/components/pages/home/Features.tsx
  packages/ui/src/components/primitives/footer.tsx
  packages/ui/src/components/primitives/ui/button.tsx
Labels: 🖥️website, ⚛ component

#559 fix(ui/embed): embed width image edge case
  packages/ui/src/message/Embed.tsx
Labels: 🖥️website
