Repository AnswerOverflow/AnswerOverflow, pull requests merged in 2024-05, with the labels that each got.

#599 feat(main-site): add sidebar to community page
  apps/main-site/src/app/(main-site)/(app)/(home)/layout.tsx
  apps/main-site/src/app/(main-site)/(app)/c/[communityId]/[channelId]/page.tsx
  apps/main-site/src/app/(main-site)/(app)/c/[communityId]/page.tsx
  apps/main-site/src/app/(main-site)/(app)/c/[communityId]/posts/[page]/page.tsx
  apps/main-site/src/app/(main-site)/(app)/layout.tsx
  apps/main-site/src/app/(main-site)/(core)/browse/page.tsx
  packages/ui/src/left-sidebar.tsx
  packages/ui/src/pages/CommunityPage.tsx
  packages/ui/src/pages/MessageResultPage.tsx
  packages/ui/src/pages/SearchPage.tsx
Labels: 🖥️website

#596 feat(web): user pages
  apps/main-site/src/app/(main-site)/(app)/(home)/components.tsx
  apps/main-site/src/app/(main-site)/(app)/(home)/new/page.tsx
  apps/main-site/src/app/(main-site)/(app)/(home)/page.tsx
  apps/main-site/src/app/(main-site)/(app)/layout.tsx
  apps/main-site/src/app/(main-site)/(app)/u/[userId]/page.tsx
  apps/main-site/src/app/[domain]/(core)/layout.tsx
  apps/main-site/src/app/[domain]/(core)/u/[userId]/page.tsx
  apps/main-site/src/middleware.ts
  packages/db/src/channel.ts
  packages/db/src/server.ts
  packages/ui/package.json
  packages/ui/src/feed-post.css
  packages/ui/src/feed-post.tsx
  packages/ui/src/message/Message.tsx
  packages/ui/src/message/attachments.tsx
  packages/ui/src/pages/MessageResultPage.tsx
  pnpm-lock.yaml
Labels: 🖥️website, 📚db

#583 feat(web): new dashboard
  apps/dashboard/next.config.mjs
  apps/dashboard/package.json
  apps/dashboard/public/discord/0.png
  apps/dashboard/public/discord/1.png
  apps/dashboard/public/discord/2.png
  apps/dashboard/public/discord/3.png
  apps/dashboard/public/discord/4.png
  apps/dashboard/src/app/dashboard/[serverId]/client.tsx
  apps/dashboard/src/app/dashboard/[serverId]/components/dashboard-context.tsx
  apps/dashboard/src/app/dashboard/[serverId]/components/domains.tsx
  apps/dashboard/src/app/dashboard/[serverId]/components/home.tsx
  apps/dashboard/src/app/dashboard/[serverId]/components/loading-spinner.module.css
  apps/dashboard/src/app/dashboard/[serverId]/components/loading-spinner.tsx
  apps/dashboard/src/app/dashboard/[serverId]/components/mock.ts
  apps/dashboard/src/app/dashboard/[serverId]/components/navbar.tsx
  apps/dashboard/src/app/dashboard/[serverId]/components/tier-access-only.tsx
  apps/dashboard/src/app/dashboard/[serverId]/layout.tsx
  apps/dashboard/src/app/dashboard/[serverId]/page.tsx
  apps/dashboard/src/app/dashboard/[serverId]/settings/components.tsx
  apps/dashboard/src/app/dashboard/[serverId]/settings/page.tsx
  apps/dashboard/src/app/dashboard/_components/cards.tsx
  apps/dashboard/src/app/dashboard/_components/dashboard.tsx
  apps/dashboard/src/app/dashboard/layout.tsx
  apps/dashboard/src/app/dashboard/page.tsx
  apps/dashboard/src/components/trpc-provider.tsx
  apps/dashboard/tailwind.config.cjs
  apps/main-site/next.config.mjs
  apps/main-site/src/app/(main-site)/app-auth/page.tsx
  apps/main-site/src/app/api/v1/(tenant)/tokens.ts
  global.css
  package.json
  packages/analytics/package.json
  packages/analytics/src/query.ts
  packages/api/src/router/dashboard.ts
  packages/api/src/router/index.ts
  packages/api/src/router/server/server.ts
  packages/api/src/router/server/types.ts
  packages/api/src/utils/posthog-types.ts
  packages/api/src/utils/posthog.ts
  packages/api/vitest.config.ts
  packages/db/src/db.ts
  packages/hooks/src/analytics/events.tsx
  packages/ui/package.json
  packages/ui/src/layouts/trpc-provider.tsx
  packages/ui/src/pricing.tsx
  packages/ui/src/ui/calendar.tsx
  packages/ui/src/ui/card.tsx
  packages/ui/src/ui/date-picker.tsx
  packages/ui/src/ui/select.tsx
  packages/ui/src/ui/sheet.tsx
  packages/ui/src/ui/table.tsx
  pnpm-lock.yaml
Labels: 🖥️website, ⚡ api, 📚db
